:root {
    --gold-fusion: #736F4E;
    --white: #FFF;

    --smartphone-margin: 48px;
    --smartphone-margin-tight: 24px;

    --tablet-margin: 216px;
    --tablet-margin-tight: 144px;

    --pc-container-width: 960px;
    --pc-container-width-large: 1152px;
}

html,
body,
.main-grid {
    height: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    background: url("./assets/images/mosaico_x320.jpg");
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 4rem;
    width: calc(100vw - var(--smartphone-margin-tight));
    margin: 0 auto;
    height: auto;
    padding: 1rem 0;
}

.header > img,
.footer > p {
    display: block;
    margin: 0 auto;
}

.footer > p {
    width: calc(100vw - var(--smartphone-margin-tight));
}

.header {
    padding: 1rem 0 2rem;
}

.footer {
    padding: 3rem 0 2rem;
}

.divider {
    border-left: 0.1em dotted var(--gold-fusion);
    display: none;
}

.sensory-profile-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.sensory-profile-grid > h2 {
    grid-column: 1 / span 2;
}

.legend-grid {
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: auto 1fr;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--gold-fusion);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.legend-grid > h3 {
    grid-column: 1 / span 2;
    grid-row: 2;
    place-self: center center;
}

.legend-grid > ul {
    grid-column: 2;
}

.legend-grid.closed > ul {
    display: none;
}

p {
    margin: 0;
    line-height: 1.5;
}

article > h1,
article:not(.sensory-profile-grid) > h2 {
    margin: 0 0 1rem;
}

.sensory-profile-grid > h2 {
    margin: 0; /* spacing defined in row-gap */
}

article > ul,
article > article {
    margin: 0 0 2.5rem;
}

.legend-grid > ul {
    margin: 2rem 0 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.4rem;
}

h1,
h2,
p,
article li,
article i,
a:link,
a:visited  {
    color: var(--gold-fusion);
}

.legend-grid h3,
.legend-grid li {
    color: var(--white);
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: 3rem auto 2.5rem;
    max-width: 560px;
    max-height: 315px;
}

.video-wrapper > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 560px;
    max-height: 315px;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("./assets/fonts/SourceSerifPro-Bold.ttf") format("tff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("./assets/fonts/SourceSerifPro-Italic.ttf") format("tff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Rubik Light";
    src: url("./assets/fonts/Rubik-Light.ttf") format("tff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "carta_esht";
    src: url("./assets/fonts/carta_esht.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

article > h1 {
    font-size: 2em; /* overwrite user agent rule */
}

article > h2 {
    font-size: 1.25em;
    font-style: italic;
    font-weight: 400;
}

.legend-grid > h3 {
    font-size: 1em;
}

h1,
h2,
h3 {
    font-family: "Source Serif Pro", serif;
}

p,
li {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
}

[class^="carta-esht-"]:before,
[class*=" carta-esht-"]:before {
    font-family: "carta_esht";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .4em;
    text-align: center;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    font-size: 120%;

    /* Font smoothing */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="carta-esht-azeitona"]:before,
[class*=" carta-esht-azeitona"]:before {
    margin-right: 0;
    font-size: 150%;
}

.carta-esht-altitude:before { content: "\e800"; }
.carta-esht-azeitona-cheia:before { content: "\e801"; }
.carta-esht-azeitona-metade:before { content: "\e802"; }
.carta-esht-azeitona-vazia:before { content: "\e803"; }
.carta-esht-cultivares:before { content: "\e804"; }
.carta-esht-dop:before { content: "\e805"; }
.carta-esht-extracao:before { content: "\e806"; }
.carta-esht-lote:before { content: "\e807"; }
.carta-esht-modo-producao:before { content: "\e808"; }
.carta-esht-plantacao:before { content: "\e809"; }
.carta-esht-regiao:before { content: "\e80a"; }
.carta-esht-solo:before { content: "\e80b"; }

@media only screen and (min-width: 400px) {
    .main-grid,
    .footer > p {
        width: calc(100vw - var(--smartphone-margin));
    }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 16px;
    }

    .main-grid,
    .footer > p {
        width: calc(100vw - var(--tablet-margin));
    }

    .footer > p {
        text-align: center;
    }

    .break-article-heading {
        display: none;
    }

    .legend-grid {
        grid-template-rows: initial;
        bottom: initial;
        left: initial;
        border-top-right-radius: initial;

        grid-template-columns: 1fr 200px;
        column-gap: 1rem;
        position: fixed;
        top: 10%;
        border-bottom-left-radius: 20px;
    }
    
    .legend-grid > h3 {
        grid-column: 1;
        grid-row: 1;
        transform: rotate(-90deg);
    }

    .legend-grid > ul {
        margin: 1rem 0;
    }

    .legend-grid.closed > ul {
        display: block;
    }

    .closed {
        right: calc(-200px - 1rem);
    }

    article > h1 {
        margin: 0 0 1.5rem;
    }

    .header {
        padding: 2rem 0 4rem;
    }
}

@media only screen and (min-width: 992px) {
    .main-grid {
        grid-template-columns: 1fr 120px 1fr;
        row-gap: 5rem;
        width: calc(100vw - var(--tablet-margin-tight));
    }

    .main-grid > article:nth-of-type(odd) {
        grid-column: 1;
    }

    .main-grid > article:nth-of-type(even) {
        grid-column: 3;
    }

    .main-grid > article:nth-of-type(2) {
        align-self: end;
    }

    .divider {
        display: block;
        grid-column: 2;
        grid-row: 1 / span 4;
        margin: 0 auto;
    }

    .break-article-heading {
        display: block;
    }
}

@media only screen and (min-width: 1200px) {
    .main-grid {
        grid-template-columns: 1fr 180px 1fr;
        width: var(--pc-container-width);
    }
}

@media only screen and (min-width: 1408px) {
    .main-grid {
        grid-template-columns: 1fr 240px 1fr;
        width: var(--pc-container-width-large);
    }
}
